body {
    color: white;
    background: transparent url('../img/fondo.jpeg') repeat;
    font-family: Arial, Helvetica, Verdana;
}

a, a:visited {
    color:green;
}

#main {
    width: 980px;
    margin: 0 auto;
}

table{
    width: 980px;
    text-align: center;
    background: black;
    border: 1px solid #A4A4A4;
    border-collapse: separate;
}

td {
    padding: 5px;
    border: 1px solid #A4A4A4;
    border-collapse: separate;
}

th {
    padding: 15px;
    background: green;
    border: 1px solid #A4A4A4;
    border-collapse: separate;
}

tr#cuerpo:nth-child(2n) {
    background: #444
}

h3{
    text-align: center;
    text-transform: uppercase;
}

footer {
    margin-top: 15px;
    border-top: 1px solid white;
    text-align: center;
}

footer p {
    padding: 0;
}